<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code {
    @inject IJSRuntime JSRuntime
    @inject NavigationManager NavigationManager
    // adds the 404 redirect. Github is fun.

    protected override async Task OnInitializedAsync() {
        
        string? targetPage = await  JSRuntime.InvokeAsync<string?>("localStorage.getItem", "githubTargetPage");

        if ( string.IsNullOrEmpty(targetPage) ) { return; }
        NavigationManager.NavigateTo( targetPage, false);
    }

}
