@inherits ComponentBase

@using System.Globalization


<Card class="my-1">
   <CardBody>
      <div style="width: 330px;" class=" d-flex justify-content-between align-items-center ">
         <div class="d-flex gap-2 align-items-center">
            <picture class="bg-primary-subtle p-1 px-2 rounded-2">
               @switch (transaction.Category)
               {
                  default:
                     <Icon Name="IconName.Shop" Size="IconSize.x3" />
                     break;
               }

            </picture>
            <div>
               <header class="fs-5 text-capitalize">@(transaction.Category)</header>
               <h1 class="fs-6 text-secondary"> @(transaction.id) yo @(transaction.Title)</h1>
               <footer class="text-secondary text-nowrap" style="font-size: 0.66em;">
                  <span>
                     @(transaction.Date.ToString("dd-MM-yyyy"))
                  </span>
                  <span>
                     @transaction.Time.ToString("HH:mm")
                  </span>

               </footer>
            </div>
         </div>

         <aside class="fs-4 fw-bolder w-100 text-end d-flex flex-column">
            <div>
               @(transaction.Ammount.ToString("C", CultureInfo.CurrentCulture))
            </div>

            <footer class="fs-6 d-flex fw-normal justify-content-end mt-auto">
               <Button @onclick="DeleteEntry" Color="ButtonColor.Danger" Type="ButtonType.Button"
                  Size="ButtonSize.Small">Delete</Button>
               <Button @onclick="ModifyEntry" Color="ButtonColor.Warning" Type="ButtonType.Button"
                  Size="ButtonSize.Small">Modify</Button>
            </footer>
         </aside>

      </div>
   </CardBody>
</Card>

@code {
   [CascadingParameter]
   GlobalUserData globalUserData { get; set; } = default!;
   [Parameter]
   public required Transaction transaction { get; set; } = default!;
   public void ModifyEntry()
   {

   }
   public async void DeleteEntry() {
      
   }
}